# Git CMD
alias gs='git status'
alias gc='git commit'
alias ga='git add'
alias gco='git checkout'
alias gb='git branch'
alias gm='git merge'
alias gd='git diff'
alias g='git'
alias ll='ls -all'
alias gdev='git fetch;git rebase origin/dev'
alias grbmaster='git rebase origin/master'
alias e='mate'
alias gsh='git stash'
